.intro{background-color:blue;max-width:800px;margin-top:1;}
.name{color:white;text-align:center;margin-bottom:1px;}
.a{text-align:center;margin-top:1px;}
.about{text-align:center;margin-bottom:1px;}
.section1{background-color:skyblue;}
body {background-image:url("https://i.imgur.com/ZhPisON.jpeg")}
body{font-family:sans-seriff}
input[type="text"] {margin-left:20px;margin-bottom:25px;}
label{display:block;}
/*FOOTER*/
a{color:black;}
a:hover{color:white;}
a:active{color:yellow;}
a:visited{color:white;}
footer{margin-bottom:15px;text-align:center}
.address{text-align:center;}
